* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/****************** MAIN COINTAINER ****************/
.container {
  /* position: relative; */
  padding: 20px 10%;
  width: 100%;
  height: 100vh;
  background-image: url(BMW1.png);
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s;
}
/* MAking of the Nav Bar */
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styling the BMW logo */
nav .logo {
  width: 160px;
  cursor: pointer;
}
/* Styling the Button Test Drive  */
nav .Btn {
  text-decoration: none;
  color: white;
  background: #333;
  padding: 15px 50px; /* top bottom and Left right */
  border-radius: 30px;
  /* width:120px;*/
  /* height:30px;  */
}

/* Giving the margin from top to the CONTENT */
.content {
  margin-top: 10%;
}

.content h2 {
  color: red;
  font-size: 34px;
}

.content h1 {
  font-size: 100px;
  color: #222;
  /* margin-top: -25px; */
}
.content p {
  margin-top: 20px;
  max-width: 380px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
  text-align: justify; /*This helps us to make to style the text or Whole Sentences, Bascially used to look clean*/
}

.content h3 {
  margin-top: 30px;
  font-weight: bolder;
  font-size: 24px;
}

/* MAking Circles to choose the color of the bike */
.color-select div {
  /* margin-top: 10px; */
  background: #333;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.color-select {
  display: flex;
  margin-top: 10px;
  /* justify-content: space-between; */ /*Not Required ,otherwise all the circles gets coinside eachother*/
}

#red {
  background: red;
}

#blue {
  background: blue;
}

#black {
  background: black;
}
